header {
	border: 1px solid black;
	text-align: center;
	color: white;
	background: #47D7AC;
	font: bolder;
 	margin-right: 2px;
 	margin-left: 2px;
}

h3 {
    margin-top: 10px;
}

h4 {
    padding-top: 2%;
    font-weight: bold;
    text-align: center;
}

thead {
  font-weight: bold;
  color: white;
}

td {
  color: black;	
  font-weight: normal;
}

table {
    width: 100%;
    margin: 0px;
}

@media screen and (min-width: 768px) {
  .div1 .div2 {
    height:100vh;
    width: 100vw
  }
}


ul {

  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
}

div {
	/*border: 1px solid black;*/
}

#div1 {
	padding-top: 5%;
	padding-bottom: 8%;
}

#div2.col-md-6
{
  padding:0px !important;
}

footer {
	border: 1px solid black;
	text-align: center;
	color: white;
	background: #47D7AC;
	font-weight: bold;
	padding: 0px;
 	margin-right: 2px;
 	margin-left: 2px;
 	height: auto;
 	width: auto;
}


.container-fluid{
	border: 1px solid black;
	/*padding-left: 5%;*/
  	/*padding-right: 60%;*/
  	/*padding-top: 5%;*/
  	/*padding-bottom: 8%;*/
	margin-left: 2px;
  	/*width: 60%;*/

}

.container{
	border: 1px solid black;
	/*padding-left: 5%;
  	padding-right: 60%;
  	padding-top: 5%;
  	padding-bottom: 5%;
  	padding-right: auto;
  	padding-left: 5%;
  	margin-left: 2px;
  	width: 60%;*/

}

.responsive {
  
  max-width: 100%;
  max-height: 100%;
}
